.root {
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 30px;
      line-height: 42px;
      height: 45px;
      border: 1px solid gray;
      border-radius: 15px;
      margin-right: 10px;
      margin-bottom: 20px;
      cursor: pointer;
      display: inline-block;
      color: black;

      &:active {
        background-color: black;
        color: white;
      }

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: black;
        color: white;
      }
    }
  }

}
