
.item {
  margin-top: 30px;
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
}


.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

h2 {
  padding: 5px;
}

p {
  padding: 5px;
}

.myLink {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10px;
}