.buttons {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  cursor: pointer;
  margin-bottom: 5px;
  height: 20px;
}

.icon:hover {
  transform: scale(1.1);
  transition: 0.3s;
}