
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono ExtraBold", serif;
}

body {
  min-width: 450px;
  max-width: 100%;
  background-color: white;
  color: #fff;
}