.container {
  display: flex;
  flex-direction: column;
  align-items: center;



  .input_wrapper {
    margin-bottom: 20px;
    width: 400px;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    box-shadow: 0 0 8px #ddd;
    background-color: white;
    display: flex;
    align-items: center;

    .search_input {
      background-color: transparent;
      border: none;
      height: 100%;
      font-size: 14px;
      width: 100%;
      margin-left: 10px;
    }

    input:focus {
      outline: none;
    }

    input::placeholder {
      opacity: 0.8
    }
  }

  .notFound {
    color: black;
  }

  .search_icon {
    color: black;
  }
}





